n=int(input("enter n value: "))
for i in range(n):
    print("*",end=" ")

In [2]:
n=int(input("enter n value: "))
for i in range(n):
    print("* "*n)

enter n value: 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [3]:
n=int(input("enter n value: "))
for i in range(n):
    print((str(n)+" ")*n)

enter n value: 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [5]:
n=int(input("enter n value: "))
for i in range(n):
    for j in range(n):
        print(n,end=" ")
    print()

enter n value: 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [6]:
n=int(input("enter n value: "))
for i in range(n):
    for j in range(n):
        print(i+1,end=" ")
    print()

enter n value: 5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [7]:
n=int(input("enter n value: "))
for i in range(n):
    for j in range(n):
        print("A",end=" ")
    print()

enter n value: 5
A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [9]:
n=int(input("enter n value: "))
for i in range(n):
    for j in range(n):
        print(chr(65+i),end=" ")
    print()

enter n value: 5
A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [10]:
n=int(input("enter n value: "))
for i in range(n):
    for j in range(n):
        print(j+1,end=" ")
    print()

enter n value: 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [11]:
n=int(input("enter n value: "))
for i in range(n):
    for j in range(n):
        print(chr(65+j),end=" ")
    print()

enter n value: 5
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [1]:
n=int(input("enter n value: "))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

enter n value: 4
*
* *
* * *
* * * *

In [2]:
n=int(input("enter n value: "))
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    print()

enter n value: 4
* * * *
* * *
* *
*

In [5]:
n=int(input("enter n value: "))
for i in range(n):
    print(" "*(n-i-1)+"* "*(i+1))

enter n value: 4
   *
  * *
 * * *
* * * *

n=int(input("enter no of rows:"

In [1]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

enter no of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [4]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print(chr(65+i),end=" ")
    print()

enter no of rows: 5
    A
   B B
  C C C
 D D D D
E E E E E

In [1]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print(i+1,end=" ")
    print()

enter no of rows: 6
     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5
6 6 6 6 6 6

In [2]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print(n-i,end=" ")
    print()

enter no of rows: 10
         10
        9 9
       8 8 8
      7 7 7 7
     6 6 6 6 6
    5 5 5 5 5 5
   4 4 4 4 4 4 4
  3 3 3 3 3 3 3 3
 2 2 2 2 2 2 2 2 2
1 1 1 1 1 1 1 1 1 1

In [14]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print(chr(64+n-i),end=" ")
    print()

enter no of rows: 5
    E
   D D
  C C C
 B B B B
A A A A A

In [3]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print(j+1,end=" ")
    print()

enter no of rows: 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [6]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()

enter no of rows: 5
    A
   A B
  A B C
 A B C D
A B C D E

In [9]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print(n-i,end=" ")
    print()

enter no of rows: 5
    5
   4 4
  3 3 3
 2 2 2 2
1 1 1 1 1

In [7]:
c

enter no of rows: 5
    5
   5 4
  5 4 3
 5 4 3 2
5 4 3 2 1

In [10]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print(chr(64+n-j),end=" ")
    print()

enter no of rows: 5
    E
   E D
  E D C
 E D C B
E D C B A

In [1]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(i):
        print(end=" ")
    for j in range(n-i):
        print("*",end=" ")
    print()

enter no of rows: 5
* * * * *
 * * * *
  * * *
   * *
    *

In [3]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(i):
        print(end=" ")
    for j in range(n-i):
        print(i+1,end=" ")
    print()

enter no of rows: 5
1 1 1 1 1
 2 2 2 2
  3 3 3
   4 4
    5

In [4]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(i):
        print(end=" ")
    for j in range(n-i):
        print(chr(65+i),end=" ")
    print()

enter no of rows: 5
A A A A A
 B B B B
  C C C
   D D
    E

In [5]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(i):
        print(end=" ")
    for j in range(n-i):
        print(chr(65+j),end=" ")
    print()

enter no of rows: 5
A B C D E
 A B C D
  A B C
   A B
    A

In [6]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(i):
        print(end=" ")
    for j in range(n-i):
        print(chr(64+n-j),end=" ")
    print()

enter no of rows: 5
E D C B A
 E D C B
  E D C
   E D
    E

In [10]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(i):
        print(end=" ")
    for j in range(n-i):
        print(n-j,end=" ")
    print()

enter no of rows: 5
5 4 3 2 1
 5 4 3 2
  5 4 3
   5 4
    5

In [11]:
n=int(input("enter no of rows: "))
for i in range(n):
    for j in range(i):
        print(end=" ")
    for j in range(n-i):
        print(j+1,end=" ")
    print()

enter no of rows: 5
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [12]:
n=int(input("enter no of rows: "))
for i in range(n):
    print(" "*(n-i-1)+"* "*(i+1))
for i in range(n):
    print(" "*(i+1)+"* "*(n-i-1))
print()

enter no of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [10]:
n=int(input("enter no of rows: "))
for i in range(n):
    print(" "*(n-i-1),end=" ")
    for j in range(n-i-1):
        print("*",end=" ")
    print()
for i in range(n-i):
    print(" "*(i+1),end=" ")
    for j in range(i+1):
        print(" "*(n-i-1))
    print()

enter no of rows: 5
     * * * *
    * * *
   * *
  *

In [13]:
n=int(input("enter no of rows: "))
for i in range(n):
    print(" "*(n-i-1)+(str(i+1)+" ")*(i+1))
for i in range(n-1):
    print(" "*(i+1)+(str(n-i-1)+" ")*(n-i-1))

enter no of rows: 5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

In [4]:
n=int(input("enter no of rows: "))
for i in range(n):
    print(" "*(n-i-1)+(chr(65+i)+" ")*(i+1))
for i in range(n-1):
    print(" "*(i+1)+(chr(63+n-i)+" ")*(n-i-1))

enter no of rows: 5
    A
   B B
  C C C
 D D D D
E E E E E
 D D D D
  C C C
   B B
    A

In [8]:
n=int(input("enter no of rows: "))
for i in range(n):
    print(" "*(n-i-1),end=" ")
    for j in range(i+1):
        print(j+1,end=" ")
    print()
for i in range(n-1):
    print(" "*(i+1),end=" ")
    for j in range(n-i-1):
        print(j+1,end=" ")
    print()

enter no of rows: 5
     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1

In [6]:
n=int(input("enter no of rows: "))
for i in range(n):
    print(" "*(n-i-1),end=" ")
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()
for i in range(n-1):
    print(" "*(i+1),end=" ")
    for j in range(n-i-1):
        print(chr(65+j),end=" ")
    print()

enter no of rows: 10
          A
         A B
        A B C
       A B C D
      A B C D E
     A B C D E F
    A B C D E F G
   A B C D E F G H
  A B C D E F G H I
 A B C D E F G H I J
  A B C D E F G H I
   A B C D E F G H
    A B C D E F G
     A B C D E F
      A B C D E
       A B C D
        A B C
         A B
          A

In [7]:
n=int(input("enter no of rows: "))
for i in range(n):
    print(" "*(n-i-1),end=" ")
    for j in range(i+1):
        print(n-j,end=" ")
    print()
for i in range(n-1):
    print(" "*(i+1),end=" ")
    for j in range(n-i-1):
        print(n-j,end=" ")
    print()

enter no of rows: 10
          10
         10 9
        10 9 8
       10 9 8 7
      10 9 8 7 6
     10 9 8 7 6 5
    10 9 8 7 6 5 4
   10 9 8 7 6 5 4 3
  10 9 8 7 6 5 4 3 2
 10 9 8 7 6 5 4 3 2 1
  10 9 8 7 6 5 4 3 2
   10 9 8 7 6 5 4 3
    10 9 8 7 6 5 4
     10 9 8 7 6 5
      10 9 8 7 6
       10 9 8 7
        10 9 8
         10 9
          10